@use "colors" as *;

html {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

input {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

textarea {
  resize: vertical;
  border: none;
  &:focus {
    outline: none;
  }
}
