@font-face {
  font-weight: 700;
  src: url("../../assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-family: "Satoshi";
}
@font-face {
  font-weight: 400;
  src: url("../../assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-family: "Satoshi";
}
@font-face {
  font-weight: 700;
  src: url("../../assets/fonts/AttenNewBold.otf") format("opentype");
  font-family: "AttenNew";
}
h1,
h2,
label,
span {
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

input,
a {
  font-weight: 700;
  font-family: "AttenNew", sans-serif;
}

p,
textarea {
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
}

html {
 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

input {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

a {
  text-decoration: none;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  height: 100vh;
}
.index .title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: hsl(0deg, 0%, 95%);
}
.index .title__h1 {
  font-size: 3rem;
}
.index .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5%;
  background-color: hsl(0deg, 0%, 95%);
  padding: 4rem;
  width: 460px;
}
.index .container__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.index .container__form input[type="text"]:enabled,
.index .container__form input[type="password"]:enabled {
  border-bottom: 2px solid hsl(197deg, 68%, 34%);
  background-color: hsl(0deg, 0%, 95%);
  padding-bottom: 0.3em;
}
.index .container__form input[type="text"]:hover,
.index .container__form input[type="password"]:hover {
  border-bottom: 2px solid hsl(217deg, 61%, 27%);
}
.index .container__form input[type="text"]:valid,
.index .container__form input[type="password"]:valid {
  border-bottom: 2px solid green;
}
.index .container__form input[type="submit"] {
  border-radius: 10px;
  background-color: hsl(197deg, 68%, 34%);
  padding: 0.8rem;
  color: hsl(0deg, 0%, 95%);
}
.index .container__form input[type="submit"]:hover {
  background-color: hsl(217deg, 61%, 27%);
}
.index .container__form__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.index .container__form--checkbox {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}
.index .container__form--checkbox input:checked + .slider {
  background-color: hsl(197deg, 68%, 34%);
}
.index .container__form--checkbox input:checked + .slider:before {
  transform: translateX(26px);
}
.index .container__form--checkbox .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  cursor: pointer;
  background-color: #ccc;
}
.index .container__form--checkbox .slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: 0.4s;
  background-color: #fff;
  width: 26px;
  height: 26px;
  content: "";
}
.index .container__form--checkbox .slider.round {
  border-radius: 34px;
}
.index .container__form--checkbox .slider.round:before {
  border-radius: 50%;
}
.index .container .underline {
  cursor: pointer;
  border-bottom: 2px solid hsl(197deg, 68%, 34%);
  color: hsl(197deg, 68%, 34%);
}
.index .container .underline:hover {
  border-bottom: 2px solid hsl(217deg, 61%, 27%);
  color: hsl(217deg, 61%, 27%);
}

/*# sourceMappingURL=style.css.map */
